# Security
.env

# Environments
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]

# Editor
.vscode/

# Chainlit/Local Data
.files/
.chainlit/translations

# Ignore local data mirror (synced from HF Datasets)
data/